.card {display:inline-block;}

.Dsearch-button {
    right: 4px;
    top: 5px;
    margin-top:5px;
    background-color: #2d476e;
    border-radius: 25px;
    border: 0;
    color: #FFF;
    width: 35px;
    height: 35px;
    outline: 0;
    float: left;
}

.logo-div{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

   .dropdown {
    border-radius: 25px;
    border: 0;
    max-height: 50px;
    max-width:100px;
    min-width:100px;
    outline: 0;
    margin-left:5px;
  }
input{
    margin-right:10px;
    margin-bottom:5px;
}
.form-group{
    text-align: center;
}
.search-button {
    background-color: #2d476e;
    border-radius: 25px;
    border: 0;
    color: #FFF;
    width: 35px;
    height: 35px;
    outline: 0;
}
.card {
    margin:10px;
}
.box_Container {
    margin-left:auto; 
    margin-right:auto;
}
.card-img-top {
    height: 10rem;
    object-fit: contain;
}
.center{
    justify-content: center;
}

.btn {
    margin-bottom: 5px;
}

#up{
    max-width: 250px;
    margin-left: 240px;
}
#up1{
    max-width: 250px;
    margin-left: 240px;
}
#mark{
    max-width: 250px;
    margin-left: 240px;
}
#mark1{
    max-width: 250px;
    margin-left: 240px;
}
#mark2{
    max-width: 250px;
    margin-left: 240px;
}