<app-top-menu></app-top-menu>
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Object ID Home</title>
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
   </head>
   <body>
      <div class="container">
         <div class="jumbotron">
            <img class="mx-auto d-block" src="../../assets/logo.png"/>
            <ng-template #content let-modal>
               <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Quick Search</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="form-inline center">

                  <form class="form-group" (submit)="search()" [formGroup]="form"> 
                     <input type="text" id="search-field" class="form-control" formControlName="numPlate" placeholder="Enter a keyword" required>
                     <button type="submit" class="search-button" id="search-btn"><i class="fa fa-search"></i></button>
                  </form><br>
                  <div class="dropdown">
                     <select id="select" [(ngModel)]="selectedOption">
                        <option disabled selected [value]="filterPlaceholder" >Filter by:</option>
                        <option *ngFor="let order of selectedFilter;" (click)="filter()" [value]="order.name">
                            {{order.name}}
                        </option>
                     </select>
                  </div>
                </div>

                  <hr>
                  <div class="box_container">
                     <table  class="table table-striped"*ngIf='answer != null'>
                        <thead>
                           <tr>
                              <th scope="col">License Plate</th>
                              <th scope="col">Color</th>
                              <th scope="col">Make</th>
                              <th scope="col">Model</th>
                              <th scope="col">SAPS Flagged</th>
                              <th scope="col">Duplicate</th>
                              <th scope="col"></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr id="box0" class="box" *ngFor='let i of answer.payload'>
                              <td class="numPlate">{{i.license_plate}}</td>
                              <td class="color">{{i.color}}</td>
                              <td class="make">{{i.make}}</td>
                              <td class="model">{{i.model}}</td>
                              <td class="flag">{{i.saps_flagged}}</td>
                              <td class="duplicate">{{i.license_plate_duplicate}}</td>
                              <td class="edit"><button class="btn btn-primary" (click)="openEdit(i)">Edit</button></td>
                           </tr>
                        </tbody>
                     </table>
                     <div *ngIf="vehicles != null">
                        <form class="form-group" *ngFor="let vehicle of vehicles"  (submit)="editVehicle()" [formGroup]="vehicleForm"> 
                           <div class="row center">
                             <div class="form-inline center">
                              <input type="hidden" id="search-field" class="form-control" formControlName="vehicle_id" [(ngModel)]='vehicle.id'>
                                 <input type="text" id="search-field" class="form-control" formControlName="make" [(ngModel)]='vehicle.make'>
                                 <input type="text" id="search-field" class="form-control" formControlName="color" [(ngModel)]='vehicle.color'>
                                 <input type="text" id="search-field" class="form-control" formControlName="model" [(ngModel)]='vehicle.model'>
                             </div>
                             <div class="row center">
                                 <div class="form-inline center">
                                 <input type="text" id="search-field" class="form-control" formControlName="license_plate" [(ngModel)]='vehicle.license_plate'>
                                 <input type="text" id="search-field" class="form-control" formControlName="saps_flagged" [(ngModel)]='vehicle.saps_flagged'>
                                 <input type="text" id="search-field" class="form-control" formControlName="license_plate_duplicate" [(ngModel)]='vehicle.license_plate_duplicate'>                              
                             </div> <button type="submit" class="btn btn-primary" id="search-btn">Update</button>  </div>   
                             
                           </div>
                       </form>
                       
                     </div>
                     <div *ngIf="message != null && type==true" class="alert alert-success" role="alert">
                        <p>{{message}}</p>
                     </div>
                     <div *ngIf="message != null && type==false" class="alert alert-danger" role="alert">
                        <p>{{message}}</p>
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
               </div>
            </ng-template>
            <!-- Second Modal -->
            <ng-template #contentTwo let-modal>
               <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Detailed Search</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form class="form-group"  (submit)="Dsearch()" [formGroup]="Dform"> 
                      <div class="row center">
                        <div class="form-inline center">
                            <input type="text" id="search-field" class="form-control" formControlName="numplate" placeholder="License">
                            <input type="text" id="search-field" class="form-control" formControlName="color" placeholder="Color" >
                            <input type="text" id="search-field" class="form-control" formControlName="make" placeholder="Make">
                        </div>       
                      </div>
                      <div class="row center">
                          <div class="form-inline">
                        <input type="text" id="search-field" class="form-control" formControlName="model" placeholder="Model">
                        <input type="text" id="search-field" class="form-control" formControlName="flag" placeholder="SAPS flag">
                        <button type="submit" class="Dsearch-button" id="search-btn"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </form>
                  <hr>
                  <div class="box_container">
                     <table  class="table table-striped"*ngIf='answer != null'>
                        <thead>
                           <tr>
                              <th scope="col">License Plate</th>
                              <th scope="col">Color</th>
                              <th scope="col">Make</th>
                              <th scope="col">Model</th>
                              <th scope="col">SAPS Flagged</th>
                              <th scope="col">Duplicate</th>
                              <!-- <th scope="col">Custom Flagged</th> -->
                           </tr>
                        </thead>
                        <tbody>
                           <tr id="box0" class="box" *ngFor='let i of answer.payload'>
                              <td class="numPlate" >{{i.license_plate}}</td>
                              <td class="color">{{i.color}}</td>
                              <td class="make">{{i.make}}</td>
                              <td class="model">{{i.model}}</td>
                              <td class="flag">{{i.saps_flagged}}</td>
                              <td class="duplicate">{{i.license_plate_duplicate}}</td>
                              <!-- <td class="customFlag">{{i.</td> -->
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
               </div>
            </ng-template>
            <ng-template #contentThree let-modal>
               <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Mark Vehicle</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="form-inline center">

                  <form class="form-group" (submit)="markVehicle()"[formGroup]="MarkAddForm"> 
                     <input type="text" id="search-field" class="form-control" formControlName="numPlateMarked" placeholder="Enter the license plate number" required>
                     <button type="submit" class="btn btn-primary" >Mark</button>
                  </form><br>                
                </div>
                <div *ngIf="message != null && type==true" class="alert alert-success" role="alert">
                  <p>{{message}}</p>
               </div>
               <div *ngIf="message != null && type==false" class="alert alert-danger" role="alert">
                  <p>{{message}}</p>
               </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
               </div>
            </ng-template>
            <ng-template #contentFour let-modal>
               <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Remove Marked Vehicle</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="form-inline center">

                  <form class="form-group" (submit)="removeMarkVehicle()"[formGroup]="MarkRemoveForm"> 
                     <input type="text" id="search-field" class="form-control" formControlName="numPlateRemove" placeholder="Enter the license plate number" required>
                     <button type="submit" class="btn btn-primary">Mark</button>
                  </form><br>
                </div>
                <div *ngIf="message != null && type==true" class="alert alert-success" role="alert">
                  <p>{{message}}</p>
               </div>
               <div *ngIf="message != null && type==false" class="alert alert-danger" role="alert">
                  <p>{{message}}</p>
               </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
               </div>
            </ng-template>
            <ng-template #contentFive let-modal>
               <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Marked Vehicles</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="form-inline center">
                     <table  class="table table-striped" *ngIf='answer != null'>
                        <thead>
                           <tr>
                              <th scope="col">License Plate</th>
                              <th scope="col">Marked By</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr id="box0" class="box" *ngFor='let i of answer.payload'>
                              <td class="numPlate" >{{i.license_plate}}</td>
                              <td class="color">{{i.marked_by}}</td>
                              </tr>
                        </tbody>
                     </table>
                  
                </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
               </div>
            </ng-template>
            <ng-template #contentSeven let-modal>
               <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Upload Video</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form class="form-group" [formGroup]="formUpload" (ngSubmit)="submitUpload('video')">
                     <div class="form-group">
                         <input type="file" #uploadFile class="form-control" formControlName="uploadFile" name="uploadFile" (change)="fileProgress(uploadFile)"  />
                     </div>
                     <div class="form-group">
                         <button class="btn btn-primary">Submit</button>
                     </div>
                 </form>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
               </div>
            </ng-template>
            <ng-template #contentSix let-modal>
               <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Upload Image</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form class="form-group" [formGroup]="formUpload" (ngSubmit)="submitUpload('image')">
                     <div class="form-group">
                         <input type="file" #uploadFile class="form-control" formControlName="uploadFile" name="uploadFile" (change)="fileProgress(uploadFile)"  />
                     </div>
                     <div class="form-group">
                         <button class="btn btn-primary">Submit</button>
                     </div>
                 </form>
               </div>
               <div class="modal-body">
                  <div class="form-inline center">
                     <table  class="table table-striped" *ngIf='answer != null'>
                        <thead>
                           <tr>
                              <th scope="col">License Plate</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr id="box0" class="box" *ngFor='let i of answer'>
                              <td class="numPlate" >{{i.payload.license_plate}}</td>
                              </tr>
                        </tbody>
                     </table>
                  
                </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
               </div>
            </ng-template>
         </div>
         <!-- The stuff -->
         <div class="center d-flex">
        <div class="card" style="width: 18rem;">
                  <img src="../../assets/search.png"
                    class="card-img-top" alt="">
            <div class="card-body">
                  <p><strong>Search</strong></p>
                  <p>Do a generic search. Enter a keyword and get results based on that keyword</p>
                <button class="btn btn-primary" (click)="open(content,'lg')">Quick Search</button>

            </div>
              </div>
              <div class="card" style="width: 18rem;">
               <img src="../../assets/detailed.png"
                 class="card-img-top" alt="">
                 <div class="card-body">
               <p><strong>Detailed search</strong></p>
               <p>Do a detailed search with different parameters based on a list of keywords</p>
             <button class="btn btn-primary" (click)="open(contentTwo,'lg')">Detailed Search</button>
             </div>
           </div>
              <div class="card" style="width: 18rem;">
                <img src="../../assets/flag.png"
                  class="card-img-top" alt="">
          <div class="card-body">
                <p><strong>Marked Vehicles</strong></p>
                <p>Flag/Unflag a suspicious vehicle using the vehicle's license plate. Or return a list of vehicles that have been marked</p>
              <button class="btn btn-primary" (click)="open(contentThree,'lg')">Mark Vehicle</button><br>
              <button class="btn btn-primary" (click)="open(contentFour,'lg')">Remove Marked Vehicle</button><br>
              <button class="btn btn-primary" (click)="openSearched(contentFive)">View Marked Vehicles</button>
            </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../assets/upload.png"
                  class="card-img-top" alt="">
          <div class="card-body">
                <p><strong>Upload</strong></p>
                <p>Upload an image and retrieve the license plate or a video and detects cars </p>
              <button class="btn btn-primary" (click)="open(contentSix,'sm')">Upload Image</button>
              <button class="btn btn-primary" (click)="open(contentSeven,'sm')">Upload Video</button>


          </div>
            </div>
        
      </div>
        </div>
</body>
</html>

